<!-- HEADER -->
<nav class="pemaksaan-navbar navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">KRS ONLINE UAJY</a>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class=""><a href="#">Semester 1 <span class="sr-only">(current)</span></a></li>
          <li class=""><a href="#">Semester 2<span class="sr-only">(current)</span></a></li>
          <li class=""><a href="#">Semester 3<span class="sr-only">(current)</span></a></li>
          <li class=""><a href="#">Semester 4<span class="sr-only">(current)</span></a></li>
          <li class=""><a href="#">Semester 5<span class="sr-only">(current)</span></a></li>
          <li class=""><a href="#">Semester 6<span class="sr-only">(current)</span></a></li>
          <li class=""><a href="#">Semester 7<span class="sr-only">(current)</span></a></li>
          <li class=""><a href="#">Semester 8<span class="sr-only">(current)</span></a></li>
          <li class=""><a href="#/jadwal-kuliah">Jadwal Kuliah<span class="sr-only">(current)</span></a></li>
          <li class=""><a href="#/jadwal-ujian">Jadwal Ujian<span class="sr-only">(current)</span></a></li>
          <li class=""><a href="#">Log Out<span class="sr-only">(current)</span></a></li>
        </ul>
        
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  
<!-- END / HEADER -->