<!-- PROFILE FEATURE -->
<section class="profile-feature">
    <div class="awe-parallax bg-profile-feature"></div>
    <div class="awe-overlay overlay-color-3"></div>
    <div class="container">
        <div class="info-author">
            <div class="image">
                <img src="images/team-13.jpg" alt="">
            </div>    
            <div class="name-author">
                <h2 class="big">Andrew Napitupulu</h2>
            </div>     
            <div class="address-author">
                <i class="fa fa-ticket"></i>
                <h3>Jatah sks : </h3>
                <h3>24</h3>
            </div>
        </div>
        <div class="info-follow">
            <div class="trophies">
                <span>Teknologi Industri</span>
                <p>Fakultas</p>
            </div>
            <div class="trophies">
                <span>Teknik Informatika</span>
                <p>Prodi</p>
            </div>
            <div class="trophies">
                <span>140707810</span>
                <p>NPM</p>
            </div>
        </div>
    </div>
</section>
<!-- END / PROFILE FEATURE -->
