
<table>
    <thead>
      <tr>
        <th class="hari-jadwal"></th>
        <th class="hari-jadwal">SEN</th>
        <th class="hari-jadwal">SEL</th>
        <th class="hari-jadwal">RAB</th>
        <th class="hari-jadwal">KAM</th>
        <th class="hari-jadwal">JUM</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="sesi-jadwal">SESI 1</td>
        <td>
            <div class="event">
                <h5>Pemahaman Pergerakan Skrotum 1</h5>
                <div class="location">Kelas C</div>
                <div class="time">Lab. Informatika Lanjut</div>
            </div>
        </td>
        <td>
            <div class="event">
                <h5>Pemrograman Berbasis Dapintol</h5>
                <div class="location">Kelas C</div>
                <div class="time">Lab. Jaringan Komputer</div>
            </div>
        </td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="pause">
        <td></td>
        <td></td>      
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="sesi-jadwal">SESI 2</td>
        <td></td>
        <td>
            <div class="event">
                <h5>Menggosok Peli</h5>
                <div class="location">Kelas C</div>
                <div class="time">Lab. Jaringan Komputer</div>
            </div>
        </td>
        <td></td>
        <td>
            <div class="event">
                <h5>Efek Samping Blue Wizard</h5>
                <div class="location">Kelas C</div>
                <div class="time">Lab. Informatika Lanjut</div>
            </div>
        </td>
        <td></td>
      </tr>
      <tr class="pause">
        <td></td>
        <td></td>      
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="sesi-jadwal">SESI 3</td>
        <td>
          <div class="event">
            <h5>Menggosok Gigi</h5>
            <div class="location">Kelas A</div>
            <div class="time">Lab. Komputasi</div>
          </div>
        </td>
        <td></td>
        <td>
            <div class="event">
                <h5>Safety Can Be Fun</h5>
                <div class="location">Kelas C</div>
                <div class="time">Ruang 6969</div>
            </div>
        </td>
        <td></td>
        <td>
            <div class="event">
                    <h5>Teknik Reboibiji</h5>
                    <div class="location">Kelas F</div>
                    <div class="time">Ruang 3669</div>
            </div>
        </td>
      </tr>
      <tr class="pause">
        <td></td>
        <td></td>
        <td></td>      
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="sesi-jadwal">SESI 4</td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <div class="event">
                <h5>Kini dengan dot !</h5>
                <div class="location">Kelas C</div>
                <div class="time">Ruang 6969</div>
            </div>
        </td>
        <td></td>
      </tr>
      <tr class="pause">
        <td></td>
        <td></td>      
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  </div>